Trending/Connected Services/CoreDigitalInputRef/DigitalInputService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDigitalInput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DigitalInput" nillable="true" type="tns:DigitalInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDigitalInput" nillable="true" type="tns:ArrayOfDigitalInput" />
  <xs:complexType name="DigitalInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alarms" nillable="true" type="tns:ArrayOfTagAlarm" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Driver" type="tns:DriverType" />
      <xs:element minOccurs="0" name="IOAddress" type="xs:int" />
      <xs:element minOccurs="0" name="OnScan" type="xs:boolean" />
      <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DigitalInput" nillable="true" type="tns:DigitalInput" />
  <xs:complexType name="ArrayOfTagAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagAlarm" nillable="true" type="tns:TagAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagAlarm" nillable="true" type="tns:ArrayOfTagAlarm" />
  <xs:complexType name="TagAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element minOccurs="0" name="Priority" type="tns:PriorityType" />
      <xs:element minOccurs="0" name="Type" type="tns:AlarmType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagAlarm" nillable="true" type="tns:TagAlarm" />
  <xs:simpleType name="PriorityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="High" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Low" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PriorityType" nillable="true" type="tns:PriorityType" />
  <xs:simpleType name="AlarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low" />
      <xs:enumeration value="High" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmType" nillable="true" type="tns:AlarmType" />
  <xs:simpleType name="DriverType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RealTime" />
      <xs:enumeration value="Sine" />
      <xs:enumeration value="Cosine" />
      <xs:enumeration value="Ramp" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DriverType" nillable="true" type="tns:DriverType" />
</xs:schema>