Trending/Connected Services/CoreDigitalInputRef/DigitalInputService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49980/Implementations/DigitalInputService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Models" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfDigitalInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForIOAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForIOAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="GetForIOAddressResult" nillable="true" type="q2:DigitalInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="input" nillable="true" type="q3:DigitalInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="CreateResult" nillable="true" type="q4:DigitalInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTagName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTagNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="GetByTagNameResult" nillable="true" type="q5:DigitalInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDriverType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="driverType" type="q6:DriverType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDriverTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeScanStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeScanStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndAllScans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalogScanDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DigitalScanDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>