Trending/Connected Services/CoreTagReportRef/TagReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SCADACore.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SCADACore.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49980/Implementations/TagReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Execptions" />
  <xs:complexType name="ArrayOfTagReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagReport" nillable="true" type="tns:TagReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagReport" nillable="true" type="tns:ArrayOfTagReport" />
  <xs:complexType name="TagReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Execptions" minOccurs="0" name="TagType" type="q1:IOType" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagReport" nillable="true" type="tns:TagReport" />
</xs:schema>