RTU/Connected Services/DigitalOutputService/DigitalOutputService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49980/Implementations/DigitalOutputService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCADACore.Models" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfDigitalOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForIOAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForIOAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="GetForIOAddressResult" nillable="true" type="q2:DigitalOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SCADACore.Models" minOccurs="0" name="digitalOutput" nillable="true" type="q3:DigitalOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ioAddress" type="xs:int" />
        <xs:element minOccurs="0" name="newValue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNewValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>